.navpad {
	margin-left: 40px;
	margin-right: 40px;
}

.headbox {
	text-align: center;
	/*color: #2979ff;*/
	color: #4db6ac;
	margin-top: 120px;
	margin-bottom: 40px;
}

.formhead {
	text-align: center;
	color: #4db6ac;
	margin-top: 40px;
	background: rgba(255, 255, 255);
}

.head2box {
	margin-left: 40px;
	margin-right: 40px;
}

.headpad {
	padding: 25px; 
}

.midbuttons {
	text-align: center;
}

.fixbutton {
	width: 350px;
	height: 60px;
}

.midcard {
	text-align: center;
	margin-bottom: 30px;
}

.waves-effect {
	margin-left: 5px;
	margin-right: 5px;
}


.white-container {
	background: #FFFFFF; 
	border: 1px solid #AEEBE5;
  width:60%;
}


.white-container2 {
    background: #FFFFFF;
    border: 1px solid #AEEBE5;
    margin-top: 60px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#heading {
  margin: 50px 0 20px 0;
}

#search-box {
  padding: 10px;
  width: 600px;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
}

#search-result {
  margin: 20px 0 100px 0;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

.package {
  width: 600px;
  border-bottom: 1px solid #eee;
  /*border: 2px solid #4db6ac;*/
  padding: 8px 0;
}

.package .name {
  font-weight: 400;
}
