.navpad {
	margin-left: 40px;
	margin-right: 40px;
}

.headbox {
	text-align: center;
	color: #4db6ac;
	margin-top: 140px;
	margin-bottom: 40px;
}

.head2box {
	margin-left: 40px;
	margin-right: 40px;
}

.headpad {
	padding: 25px; 
}

.midbuttons {
	text-align: center;
}

.fixbutton {
	width: 350px;
	height: 60px;
}

.midcard {
	text-align: center;
	margin-bottom: 30px;
}
